.header {
    color: #fff;
    padding: 0 15px;
    width: 100%;

    @at-root #{&}__sub {
        margin: 10px 0;
    }
}

.navbar {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
}
